#ContentView .d2l-documentToPdfViewer.d2l-documentToPdfViewer-inline {
    position: relative;
}

.d2l-documentToPdfViewer-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    width: 100%;
    height: 100% !important;
}

.d2l-documentToPdfViewer-loading-overlay {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #404040;
    opacity: 0.7;
}

.d2l-documentToPdfViewer-loading {
    position: absolute;
    right: 10%;
    bottom: 15%;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
    font-weight: bold;
    color: #666666;
    z-index: 99999999;
}

.d2l-documentToPdfViewer-tools,
.d2l-documentToPdfViewer-download,
.d2l-documentToPdfViewer-isInProgress,
.d2l-documentToPdfViewer-error {
    background: #f1f1f1;
    background: linear-gradient(to bottom, #f1f1f1 0%, #e4e4e4 100%);
}

.d2l-documentToPdfViewer-viewer {
    line-height: 0;
}

.d2l-documentToPdfViewer-text {
    border: #dddddd;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
}

.d2l-documentToPdfViewer-isInProgress,
.d2l-documentToPdfViewer-download {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 1px solid #d4d4d4;
    font-weight: bold;
    color: #666666;
    display: block;
    border: 4px double #cccccc;
    border-radius: 5px;
    width: 50%;
    padding: 10% 0 9% 0;
}

.d2l-documentToPdfViewer-error {
    text-align: center;
    position: relative;
    left: 14%;
    transform: translate(20%, 0%);
    padding: 10px;
    border: 1px solid #d4d4d4;
    font-weight: bold;
    color: #666666;
    display: block;
    border: 4px double #cccccc;
    border-radius: 5px;
    width: 50%;
    padding: 10% 0 9% 0;
}

.d2l-documentToPdfViewer-downloadMessage,
.d2l-documentToPdfViewer-errorMessage,
.d2l-documentToPdfViewer-errorDownloadHint,
.d2l-documentToPdfViewer-isInProgressMessage,
.d2l-documentToPdfViewer-loadingMessage {
    text-decoration: none;
    font-weight: bold;
    border: none;
    box-shadow: none;
    outline: none;
}

.d2l-documentToPdfViewer-downloadMessage,
.d2l-documentToPdfViewer-errorMessage,
.d2l-documentToPdfViewer-errorDownloadHint,
.d2l-documentToPdfViewer-isInProgressMessage {
    margin: 1em;
    color: #666666;
}

.d2l-documentToPdfViewer-loadingMessage {
    color: black;
}

.d2l-documentToPdfViewer-downloadButton,
.d2l-viewMode-button-view-as-text,
.d2l-viewMode-button-view-as-page {
    min-height: 16px;
    margin-top: 2px;
}
